<% include ./shared/header %>
<div class="container">
  <h2>Online Users</h2>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Time (HH:MM:SS)</th>
      </tr>
    </thead>
    <tbody id="userList">
    </tbody>
  </table>
</div>
<% include ./shared/footer %>